body {
    background-color: black;
    user-select: none;
}

img {
    width: 74%;
    margin: auto;
    display: block;
    padding: 20px;
}

h1 {
    color: white;
    font-family: Trebuchet MS;
    text-align: center;
    position: relative;
    top: 15px;
}

.totalDiv {
    padding-top: 50px;
}

.appDiv {
    border: 2px transparent;
    background: rgb(46, 49, 52);
    border-radius: 0.25em;
    max-width: 420px;
    margin: auto;
}

button{
    border: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    margin: 12px;
    text-align: center;
    border-radius: 1em;
}

li {
    list-style-type: none;
    color: white;
    position: relative;
    bottom: 10px;
    font: 400 13.3333px Arial;
}

.userInfoDiv {
    margin: auto;
    max-width: 420px;
}

.addButton {
    border-color: transparent;
    background: rgb(22, 191, 0);
    padding: 5px 15px;
    position: relative;
    left: 30px;
    color: white;
}

.removeButton, .completeButton, #logout {
    background: rgb(46, 49, 52);
    color: white;
    border-color: white;
    padding: 5px 8px;
    position: relative;
}

.removeButton {
    left: 55px;
}

.completeButton {
    left: 45px;
}

.inputBar {
    border: 1px solid black;
    box-sizing: border-box;
    font-weight: 350;
    margin: 12px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 0.5em;
    position: relative;
    left: 30px;
    user-select: all;
}

.taskInput {
    background-color: transparent;
    border-color: transparent;
    color: white;
    user-select: all;
}

.userLogin {
    background: rgb(32, 200, 10);
    padding: 5px 15px;
    position: relative;
    left: 167px;
    bottom: 5px;
    border-color: transparent;
    color: white;
}

.userRegistered {
    background: rgb(32, 200, 10);
    padding: 5px 15px;
    position: relative;
    left: 155px;
    border-color: transparent;
    color: white;
}

.registerBar {
    width: 80%;
}

.addList, .viewAccount {
    display: inline-block;
    padding: 5px 15px;
    background: rgb(32, 200, 10);
    border-color: transparent;
    position: relative;
    bottom: 15px;
    color: white;
}

.addListDiv {
    margin: auto;
    width: 250px;
    position: relative;
    top: 5px;
}

.deleteList, .downarrow, .uparrow {
    background: rgb(46, 49, 52);
    color: white;
    border-color: white;
    padding: 2px 5px;
    position: relative;
    display: inline;
}

.deleteList {
    left: 40px;
    bottom: 20px;
}

.uparrow {
    left: -20px;
    bottom: 72px;
}

.downarrow {
    left: -68px;
    bottom: -85px;
}

#accountAppDiv {
    height: 95px;
    position: relative;
    bottom: 25px;
}

#user_info, #email_info, #phone_info, #cheese_info {
    bottom: -20px;
    padding: 5px;
    left: 8px;
}

i {
    position: relative;
    right: 10px;
}

#loginbar {
    position: relative;
    left: 100px;
}

#logout {
    left: 147px;
    bottom: 62px;
}

#second_info {
    position: relative;
    left: 180px;
    bottom: 65px;
    width: 130px;
}